<div id="container">
  <h1>Eliminar empleado</h1>
  <form>
    <label for="name" class="label">Nombre</label>
    <input type="text" class="input" id="name"
           [(ngModel)]="employee.name"
           name="name" disabled>

    <label for="surname" class="label">Apellido</label>
    <input type="text" class="input" id="surname"
           [(ngModel)]="employee.surname"
           name="surname" disabled>

    <label for="position" class="label">Posición</label>
    <input type="text" class="input" id="position"
           [(ngModel)]="employee.position"
           name="position" disabled>

    <label for="salary" class="label">Salario</label>
    <input type="text" class="input" id="salary"
           [(ngModel)]="employee.salary"
           name="salary" disabled>
  </form>
  <div id="div-buttons">
    <button id="btnSubmit" type="submit" (click)="deleteEmployee()">Eliminar empleado</button>
    <button id="btnCancel" (click)="cancel()">Cancel</button>
  </div>
</div>
